<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código Agora</title>
    <link rel="stylesheet" href="../../assets/styles-html/vars.css">
    <link rel="stylesheet" href="../../assets/styles-html/style-index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img id="logo" src="../../assets/imgs-html/fundo-login.png" alt="logo">
            <ul>
                <li>
                    <a href="index">
                        Página inicial
                    </a>
                </li>
                <li>
                    <a href="">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="cadastro">
                        Inscreva-se
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <div  class="container">
            <div class="container__textM">
                <p id="texto"><strong>Mundo do Deserto</strong><br><br>
                    Aqui podemos andar rumo aos primeiros passos com nossas primeiras linhas de código em Python.</p>
            </div>
            <div>
                <img id="Mundo" src="../../assets/imgs-html/M-deserto.png" alt="img-mundo">
            </div>
        </div>
    </section>
    
    <script src="../../assets/scripts-html/index.js"></script>
</body>
</html>