<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../assets/styles-html/vars.css">
    <link rel="stylesheet" href="../../assets/styles-html/style-ini-jogo.css">
</head>
<body>
    <header>
        <div class="mini">
            <img class="mini-mundos" src="../../assets/imgs-html/M-deserto-mini.png" alt="">
            <img class="mini-mundos" src="../../assets/imgs-html/M-gelo-mini-apagado.png" alt="">
            <img class="mini-mundos" src="../../assets/imgs-html/M-floresta-mini-apagado.png" alt="">
            <img class="mini-mundos" src="../../assets/imgs-html/M-vulcao-mini-apagado.png" alt="">
        </div>
        <a href="/config">
            <img class="config" src="../../assets/imgs-html/config.png" alt="configurações">
        </a>
    </header>
    <section>
        <div class="section_horizontal">
            <div>
                <span class="fa fa-chevron-left fa-3x" id="seta-esquerda"></span>
            </div>
            <div class="troca-mundos">
                <a href="#" id="link-planeta">
                    <div class="fundo_brilhante"></div>
                    <img src="../../assets/imgs-html/M-deserto.png" alt="Deserto" id="imagem-planeta">
                </a>
            </div>
            <div>
                <span class="fa fa-chevron-right fa-3x" id="seta-direita"></span>
            </div>
        </div>
        <img id="espelho" src="../../assets/imgs-html/M-deserto-mini.png" alt="">
        <img id="base_mundos" src="../../assets/imgs-html/Base3.png" alt="">
    </section>
    <footer>
        <button class="saida-inicio">
            <span class="fa fa-arrow-right-from-bracket fa-3x"></span>
        </button>
    </footer>
    
    <script src="https://kit.fontawesome.com/062f506ca7.js" crossorigin="anonymous"></script>
    <script src="../../assets/scripts-html/inicio.js"></script>
</body>
</html>