<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis</title>
    <link rel="stylesheet" href="../../assets/styles-html/vars.css">
    <link rel="stylesheet" href="../../assets/styles-html/style-oasis.css">
</head>
<body>
    <header>
        <a href="/inicio-jogo">
            <img class="voltar" src="../../assets/imgs-html/Voltar.png" alt="botao_voltar">
        </a>
        <a href="/config">
            <img class="config" src="../../assets/imgs-html/config.png" alt="configurações">
        </a>
    </header>
    <section>
        <div class="caminho"></div>
        <div class="divisao1">
            <div class="pai-sec__filho-div">
                <div class="balao_info">
                    <p>Introdução</p>
                </div>
                <a href="/conteudos">
                    <img src="../../assets/imgs-html/oasis-01.png" alt="">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
        </div>
        <div class="caminho2"></div>
        <div class="divisao2">
            <div class="pai-sec__filho-div">
                <div class="balao_info">
                    <p>Comandos de Entrada e Saída</p>
                </div>
                <a href="/conteudos?id_conteudo=15">
                    <img id="oasis-02" src="../../assets/imgs-html/oasis-02.png" alt="" class="bloqueado">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
        </div>
        <div class="caminho3"></div>
        <div class="divisao3">
            <div class="pai-sec__filho-div">
                <div class="balao_info">
                    <p>Variáveis e Tipos de Dados</p>
                </div>
                <a href="/conteudos?id_conteudo=23">
                    <img src="../../assets/imgs-html/oasis-03.png" alt="" class="bloqueado">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
        </div>
        <div class="caminho4"></div>
        <div class="divisao4">
            <div class="pai-sec__filho-div">
                <div class="balao_info">
                    <p>Condições</p>
                </div>
                <a href="/conteudos?id_conteudo=30">
                    <img id="oasis-04" src="../../assets/imgs-html/oasis-04.png" alt="" class="bloqueado">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
        </div>
        <div class="divisao5">
            <div class="pai-sec__filho-div">
                <div class="balao_info">
                    <p>Loops</p>
                </div>
                <a href="/conteudos?id_conteudo=40">
                    <img src="../../assets/imgs-html/oasis-05.png" alt="" class="bloqueado">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
        </div>
    </section>
    <footer>
        <div class="sec_img_mundo">
            <a href="/inicio-jogo">
                <img src="../assets/imgs-html/M-deserto.png" alt="" srcset="">
            </a>
        </div>
    </footer>
    <script src="../../assets/scripts-html/oasis.js"></script>
    <script src="https://kit.fontawesome.com/062f506ca7.js" crossorigin="anonymous"></script>
</body>
</html>